.body {
  padding: 10px 50px;
  border-radius: 6px;
  background-color: rgb(153, 151, 203);
}
.labletext {
  font-size: 25px;
}

.input {
  width: 220px;
  height: 25px;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
}

.inputmessage {
  width: 220px;
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
}

.btn {
  border-radius: 5px;
  height: 30px;
  width: 65px;
  font-size: 15px;
  margin: 10px 10px;
  color: black;
}
